<!DOCTYPE html>
<html>
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>全新梅赛德斯-奔驰长轴距C级车  驾驭改变</title>
		<meta name="description" content=""/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />

		<link rel="stylesheet" href="{{img_path}}css/jpreloader.css" />
		<link rel="stylesheet" type="text/css" href="{{img_path}}css/final.css">
		<link href="{{img_path}}css/video-js.css" rel="stylesheet" type="text/css">
		<!--<link rel="stylesheet" type="text/css" href="css/animation.css">-->	
		<script src="{{img_path}}js/c-class/jquery.min.js"></script>
		<script src="{{img_path}}js/c-class/index.load.js"></script>
		<!--[if lt IE 9]>
		<script src="{{img_path}}js/c-class/html5.js"></script>
		<![endif]-->
		<script src="{{img_path}}js/c-class/jpreloader.js"></script>
		<script src="{{img_path}}js/c-class/img.widthauto.js"></script>
		<script src="{{img_path}}js/audiojs/audio.min.js" type="text/javascript"></script>
		<script>
			    audiojs.events.ready(function() {
					audiojs.createAll();
			    });
				
		</script>
		
		
		<style>
			.submit .man_bg{width:20px; height:20px;position: absolute; left: 565px; top: 95px; background:url({{img_path}}images/radio_icon.png) no-repeat; display:block; } 
			.submit .woman_bg{width:20px; height:20px;position: absolute; left: 630px; top: 96px; background:url({{img_path}}images/radio_icon.png) no-repeat; display: none; } 
			
			/* footer  */
			#menu{ width:839px; height:34px; position:relative; background:url({{img_path}}images/menu.png) no-repeat; position:fixed; z-index:99999998; left:50%; margin-left:-438px; bottom:43px;}
			#menu .home{ position:absolute; left:0; top:0;background:url({{img_path}}images/nav/home.png) no-repeat; width: 68px;margin-left: ; }
			#menu .v1{ position:absolute; left:68px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .v2{ position:absolute; left:102px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .v3{ position:absolute; left:136px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .v4{ position:absolute; left:170px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .v5{ position:absolute; left:204px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .v6{ position:absolute; left:238px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .v7{ position:absolute; left:272px; top:0;background:url({{img_path}}images/nav/v1.png) no-repeat; width: 34px; margin-left: ; }
			#menu .testdrive1{ position:absolute; left:408px; top:0;background:url({{img_path}}images/nav/testdrive.png) no-repeat; width: 136px; margin-left: ; }
			#menu .wonderful{ position:absolute; left:542px; top:0;background:url({{img_path}}images/nav/wonderful.png) no-repeat; width: 136px; margin-left: ; }
			#menu .wonderful2{ position:absolute; left:576px; top:0;background:url({{img_path}}images/nav/wonderful.png) no-repeat; width: 136px; position:absolute; right:160px; top:0;}
			#menu .config{ position:absolute; left:271px; top:0;background:url({{img_path}}images/nav/config.png) no-repeat; width: 136px;}
			#menu .ipo{background:url({{img_path}}images/nav/ipo.png) no-repeat; width: 136px;}
			#menu .ipo2{background:url({{img_path}}images/nav/ipo.png) no-repeat; width: 136px; position:absolute; right:170px; top:0;}
			#menu .screen{ position:absolute; right:0; top:0;width: 136px;background:url({{img_path}}images/nav/ipo.png) no-repeat; margin-left:21px; display:inline;}
			.audiojs .play { background:url({{img_path}}images/music-off.png) no-repeat;}         
			.audiojs .loading { background:url({{img_path}}js/audiojs/player-graphics.gif)  -2px -31px no-repeat;}         
			.audiojs .error { background:url({{img_path}}js/audiojs/player-graphics.gif)  -2px -61px no-repeat;}         
			.audiojs .pause {  background:url({{img_path}}images/music.png) no-repeat;}       
			.submit .submit_ok{ background:url({{img_path}}images/submit_ok.jpg) no-repeat top left; width:100%; height:100%; position:absolute; left:0; top:0; z-index:1; display:none;}
			#slide1 .btn{ width:379px; height:45px; position:absolute; left:50%; margin-left:-190px; bottom:100px; background:url({{img_path}}images/btn.png) no-repeat;}
			.vjs-default-skin .vjs-big-play-button {background:url({{img_path}}images/v_player.png) no-repeat; left:50%; top:50%; margin-left:-49px; margin-top:-49px;}
			.submit{ background:url({{img_path}}images/summit.png) no-repeat;}
			.vjs-control-bar .vjs-paused{ background:url({{img_path}}images/icon_play.png) center center no-repeat}	
			.vjs-control-bar .vjs-playing{ background:url({{img_path}}images/icon_pause.png) center center no-repeat}	
			.vjs-control-bar .vjs-fullscreen-control {background:url({{img_path}}images/icon_full.png) center center no-repeat}
			.vjs-control-bar .vjs-mute-control {background:url({{img_path}}images/icon_music.png) center center no-repeat}
			
			#news_contact .gallery .arrow_left{ position:absolute; cursor:pointer; width:19px; height:35px; left:-30px; top:44px; text-indent:80px; background:url({{img_path}}images/news/arrow_left.png) no-repeat; white-space:nowrap; z-index:999; overflow:hidden;}
			#news_contact .gallery .arrow_right{ position:absolute; cursor:pointer; width:19px; height:35px; top:44px; right:-30px; text-indent:80px; background:url({{img_path}}images/news/arrow_right.png) no-repeat; white-space:nowrap; z-index:999 ;overflow:hidden;}

			#big_gallery  .arrow_left{ position:absolute; cursor:pointer; width:19px; height:35px; left:-30px; top:165px; text-indent:80px; background:url({{img_path}}images/news/arrow_left2.png) no-repeat; white-space:nowrap; z-index:999; overflow:hidden;}
			#big_gallery  .arrow_right{ position:absolute; cursor:pointer; width:19px; height:35px; top:165px; right:-30px; text-indent:80px; background:url({{img_path}}images/news/arrow_right2.png) no-repeat; white-space:nowrap; z-index:999 ;overflow:hidden;}



		</style>
</head>

<body>
<img src="images/loading.jpg" style="display:none" />

<!--<div id="console" style="position:fixed; z-index:999999; color:#FFF; background:#000; overflow:scroll; height:800px;"></div>
-->
		<div id="slideIndex" style="display:none;">0</div>
		<div id="fullpage">
			<div class="section" id="section1">
					<section class="" id="slide0">
					<img src="{{img_path}}images/text/0_1.png" class="text">
					<img src="{{img_path}}images/text/0_2.png" class="text2">
					<img src="{{img_path}}images/video0.jpg" class="b_img">
					<div class="text4" id="text4" ><img src="{{img_path}}images/text/0_1_1.png"></div>
					<div class="tip_scroll"><img src="{{img_path}}images/scroll_tip.png"><img src="{{img_path}}images/mouse_flash.gif" id="mouse_flash"></div>
					</section>
		
				<!--序列帧 1-->
					<section  class="slide panel" id="slide1" >
						<div class="pos pos2">
							<div class="icon_Item">
								<div class="icon0"  onClick="_smq.push(['custom','产品细节','产品细节_'+'AMG车身风格组件']);"><a href="javascript:void(0)"></a><span><img src="{{img_path}}images/text/1_1_1.png" alt=""></span></div>
							</div>
						</div>
						<div class="pos pos3">
							<div class="icon_list">
								<div class="icon" onClick="_smq.push(['custom','产品细节','产品细节_'+'驾驶室管理和数据系统以及联网功能']);"><a href="javascript:void(0)" ></a><span><img src="{{img_path}}images/text/3-2-1.png" alt=""></span></div>
								<div class="icon2"  onClick="_smq.push(['custom','产品细节','产品细节_'+'无钥匙启动功能']);"><a href="javascript:void(0)"></a><span><img src="{{img_path}}images/text/3_2_2.png" alt=""></span></div>
								<div class="icon3" onClick="_smq.push(['custom','产品细节','产品细节_'+'环境氛围照明系统']);"><a href="javascript:void(0)" ></a><span><img src="{{img_path}}images/text/3_2_3.png" alt=""></span></div>
							</div>
						</div>
						<div class="pos pos5">
							<div class="icon_list2">
								<div class="icon5" onClick="_smq.push(['custom','产品细节','产品细节_'+'AMG车身风格组件']);"><a href="javascript:void(0)"></a><span><img src="{{img_path}}images/text/5-2-1.png" alt=""></span></div>
							</div>
						</div>
						<div class="pos pos6">
							<div class="icon_list2">
								<div class="icon6" onClick="_smq.push(['custom','产品细节','产品细节_'+'18英寸AMG五辐轻合金车轮']);"><a href="javascript:void(0)" ></a><span><img src="{{img_path}}images/text/6-2-1.png" alt=""></span></div>
							</div>
						</div>
						
						<div class="videoItem">
						<!--第一组-->
						<img src="{{img_path}}images/video/1/benz_000.jpg"  class="b_img show">
						<img src="{{img_path}}images/video/1/benz_001.jpg"  class="b_img show">
						<img src="{{img_path}}images/video/1/benz_002.jpg"  class="b_img ">
						<img src="{{img_path}}images/video/1/benz_003.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_004.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_005.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_006.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_007.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_008.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_009.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_010.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_011.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_012.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_013.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_014.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_015.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_016.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_017.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_018.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_019.jpg"  class="b_img">
						<img src="{{img_path}}images/video/1/benz_020.jpg"  class="b_img">
						
						
						<!--第2组-->
						<img src="{{img_path}}images/video/2/benz_021.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_022.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_023.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_024.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_025.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_026.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_027.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_028.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_029.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_030.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_031.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_032.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_033.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_034.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_035.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_036.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_037.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_038.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_039.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_040.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_041.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_042.jpg"  class="b_img">
						<img src="{{img_path}}images/video/2/benz_043.jpg"  class="b_img">
						
						
						<!--第3组-->
						<img src="{{img_path}}images/video/3/benz_044.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_045.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_046.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_047.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_048.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_049.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_050.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_051.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_052.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_053.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_054.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_055.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_056.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_057.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_058.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_059.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_060.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_061.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_062.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_063.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_064.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_065.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_066.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_067.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_068.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_069.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_070.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_071.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_072.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_073.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_074.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_075.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_076.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_077.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_078.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_079.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_080.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_081.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_082.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_083.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_084.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_085.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_086.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_087.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_088.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_089.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_090.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_091.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_092.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_093.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_094.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_095.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_096.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_097.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_098.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_099.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_100.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_101.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_102.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_103.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_104.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_105.jpg"  class="b_img">
						<img src="{{img_path}}images/video/3/benz_106.jpg"  class="b_img">
						
						
						
						<!--第4组-->
						<img src="{{img_path}}images/video/4/benz_107.jpg"  class="b_img ">
						<img src="{{img_path}}images/video/4/benz_108.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_109.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_110.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_111.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_112.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_113.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_114.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_115.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_116.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_117.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_118.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_119.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_120.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_121.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_122.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_123.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_124.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_125.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_126.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_127.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_128.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_129.jpg"  class="b_img">
						<img src="{{img_path}}images/video/4/benz_130.jpg"  class="b_img">
						
						
						
						
						<!--第5组-->
						<img src="{{img_path}}images/video/5/benz_131.jpg"  class="b_img ">
						<img src="{{img_path}}images/video/5/benz_132.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_133.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_134.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_135.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_136.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_137.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_138.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_139.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_140.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_141.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_142.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_143.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_144.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_145.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_146.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_147.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_148.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_149.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_150.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_151.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_152.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_153.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_154.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_155.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_156.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_157.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_158.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_159.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_160.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_161.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_162.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_163.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_164.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_165.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_166.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_167.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_168.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_169.jpg"  class="b_img">
						<img src="{{img_path}}images/video/5/benz_170.jpg"  class="b_img">
						
						
						<!--第6组-->
						<img src="{{img_path}}images/video/6/benz_171.jpg"  class="b_img ">
						<img src="{{img_path}}images/video/6/benz_172.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_173.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_174.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_175.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_176.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_177.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_178.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_179.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_180.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_181.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_182.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_183.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_184.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_185.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_186.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_187.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_188.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_189.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_190.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_191.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_192.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_193.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_194.jpg"  class="b_img">
						<img src="{{img_path}}images/video/6/benz_195.jpg"  class="b_img">
						
						
						</div>
<!-- 						<div class="btn">					
							<a class="replay" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_7再次体验']);">replay</a>
							<a class="testdrive" href="#firstPage/2" onClick="_smq.push(['custom','底部导航','底部导航_7预约试驾']);">testdrive</a>
						</div> -->
						<img src="{{img_path}}images/text3/1-1.png" class="text3">
						<img src="{{img_path}}images/text3/1-1-1.png" class="text5">
						
						<div class="text4" id="text4" ><img src="{{img_path}}images/text/1_2.png"></div>


						<div id="divItem">
								<img src="{{img_path}}images/video9.jpg" class="b_img" >
							<div id="Config">
								<div class="config"><img src="{{img_path}}images/config.png">
								<div class="nav2">
									<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/passengercars/home/new_cars/models/c-class/V205.html" target="_blank" class="more1" onClick="_smq.push(['custom','参数配置页面','参数配置页面_了解更多']);">了解更多</a>
									<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/passengercars/home/new_cars/models/c-class/V205_Sedan.html"  class="more2" target="_blank"  onClick="_smq.push(['custom','参数配置页面','参数配置页面_了解更多2']);">了解更多</a>
								</div>
								<div class="nav">
									<a href="http://special.mercedes-benz.com.cn/NewC-Class/downloads/NewC-class.rar" class="down" onClick="_smq.push(['custom','参数配置页面','参数配置页面_下载配置表']);">下载配置表</a>
									<a href="http://contact.mercedes-benz.com.cn/dealer_cn.html" target="_blank" class="delter" onClick="_smq.push(['custom','参数配置页面','参数配置页面_经销商查询']);">查询经销商</a>
								</div>
								</div>
							</div>	


							<div id="testDrive">
								<div class="pos">
									<a class="replay" href="#"></a>
									<a class="testdrive" href="javascript:void(0)"></a>
								</div>
								<div class="submit">
									<div class="submit_form">
										<span class="man_bg"></span>
										<span class="woman_bg"></span>	
										<input class="name" id="username" type="text" value="" />
										<input type="radio" name="gender" class="man" value="男" checked />
										<input type="radio" name="gender" class="woman" value="女" />
										<select id="province"></select>
										<select id="city"></select>
										<span class="province_bg"></span>
										<span class="city_bg"></span>
										<input class="mobile" id="phone" type="text" />
										<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/orivacy_statement.ngrb.html" target="_blank" class="yinsi">隐私</a>
										<a id="submit">提交</a>
										<a id="re_write">重填</a>
									</div>
									<div class="submit_ok">
									<a href="#firstPage/0" onClick="$('#slideIndex').html('9');$.fn.fullpage.moveSlideRight();">更多精彩</a>

									</div>
				
								</div>								

							</div>

							<div id="moreWondfull">

							
									<div class="video_list">
							
										<A onClick="_smq.push(['custom','精彩影音','精彩影音_TVC_开始播放时']);"><img src="{{img_path}}images/text/video-1.jpg" class="img" ></A>
							
									</div>

								<div class="nav9">
									<a class="wonderful n10" href="#firstPage/0" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);$('#slideIndex').html('10');$.fn.fullpage.moveSlideRight();">壁纸下载</a>
									<a class="wonderful n11" href="#firstPage/0" onClick="$('#slideIndex').html('11');$.fn.fullpage.moveSlideRight();" >上市盛典</a><img src="{{img_path}}images/text/9-nav.png" class="" ></div>



							</div>	
							<div id="moreWondfull2">

								<div class="wallpaper_list">
									<a href="http://c-class.mymb.com.cn/dd?fn=p4.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w1"><img src="{{img_path}}images/bz1.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
									<a href="http://c-class.mymb.com.cn/dd?fn=p2.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w2"><img src="{{img_path}}images/bz2.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
									<a href="http://c-class.mymb.com.cn/dd?fn=p5.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w3"><img src="{{img_path}}images/bz3.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
									<a href="http://c-class.mymb.com.cn/dd?fn=P1.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w4"><img src="{{img_path}}images/bz4.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
									<a href="http://c-class.mymb.com.cn/dd?fn=p3.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w5"><img src="{{img_path}}images/bz5.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
								</div>	
		                        
								<div class="nav10">
									<a class="wonderful n9" href="#firstPage/0" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_精彩影音']);$('#slideIndex').html('9');$.fn.fullpage.moveSlideRight();">精彩影音</a>
		                      		  <a class="wonderful n11" href="#firstPage/0" onClick="$('#slideIndex').html('11');$.fn.fullpage.moveSlideRight();" >上市盛典</a>
		                        <img src="{{img_path}}images/text/10-nav.png" class="" ></div>

							</div>

							<div id="moreWondfull3">


		                        <div id="news_contact">
		                            <div class="youku"><a id="news_video" href="javascript:"><img src="images/news/youku.jpg" /></a></div>
		                            <div class="news">
		                                    <dl>
		                                        <dd class="contact"><img src="../images/news/news1.png"></dd>
		                                        <dt class="more"><a href="#" title="{{img_path}}news_contact.html">阅读全文 ></a></dt>
		                                    </dl>
		                                </div>	
		                            <div class="gallery">
		                                
		                                <div class="arrow_left"><a href="#">左边</a></div>
		                                <div class="list">
											<ul class="select">
											    <li style="margin:0;" title="0" ><span></span><img  src="images/news/gallery1.jpg" width="213" height="121" /></li>
											    <li title="1"><span></span><img src="images/news/gallery2.jpg" width="213" height="121" /></li>
											    <li title="2"><span></span><img src="images/news/gallery3.jpg" width="213" height="121" /></li>
											    <li title="3"><span></span><img src="images/news/gallery4.jpg" width="213" height="121" /></li>

											</ul>	
											<ul>
											    <li title="4" style="margin:0;"><span></span><img src="images/news/gallery5.jpg" width="213" height="121" /></li>
											    <li title="5"><span></span><img src="images/news/gallery6.jpg" width="213" height="121" /></li>
											    <li title="6"><span></span><img src="images/news/gallery7.jpg" width="213" height="121" /></li>
											    <li title="7"><span></span><img src="images/news/gallery8.jpg" width="213" height="121" /></li>

											</ul>

											<ul>
											    <li title="8" style="margin:0;"><span></span><img src="images/news/gallery9.jpg" width="213" height="121" /></li>
											    <li title="9"><span></span><img src="images/news/gallery10.jpg" width="213" height="121" /></li>
											    <li title="10"><span></span><img src="images/news/gallery11.jpg" width="213" height="121" /></li>
											    <li title="11"><span></span><img src="images/news/gallery12.jpg" width="213" height="121" /></li>
											</ul>
											<ul>
											    <li title="12" style="margin:0;"><span></span><img src="images/news/gallery13.jpg" width="213" height="121" /></li>
											    <li title="13"><span></span><img src="images/news/gallery14.jpg" width="213" height="121" /></li>
											    <li title="14"><span></span><img src="images/news/gallery15.jpg" width="213" height="121" /></li>
											</ul>


		                                </div>
		                                <div class="arrow_right"><a href="#">右边</a></div>
		                            </div>
		                                
		                        </div>
		                        <div class="nav11">
		                        <a class="wonderful n9" href="#firstPage/0" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_精彩影音']);$('#slideIndex').html('9');$.fn.fullpage.moveSlideRight();">TVC</a>
		                        <a class="wonderful n10" href="#firstPage/0" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);$('#slideIndex').html('10');$.fn.fullpage.moveSlideRight();">壁纸下载</a>

		                        <img src="{{img_path}}images/text/11-nav.png" class="" >
		                        </div>
                        		

							</div>	


						</div>	






		
					</section>
				<!--序列帧 01 end-->

		
				<!--序列帧 07-->	
					<!--<section class="panel slide" id="slide7">
						<div class="pos" style="display:block">
							<img src="{{img_path}}images/video7.jpg" class="img2" >
						</div>
						<div class="btn">					
							<a class="replay" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_7再次体验']);">replay</a>
							<a class="testdrive" href="#firstPage/9 " onClick="_smq.push(['custom','底部导航','底部导航_7预约试驾']);">testdrive</a>
						</div>
						<img src="{{img_path}}images/text/7-1.png" class="text3">
						<img src="{{img_path}}images/text/7-2.png" class="text5">
						<img src="{{img_path}}images/text/7-1-1.png" class="text4" >
						
					</section>-->
				<!--序列帧 07 end-->	
		
				<!--序列帧 08-->	
<!-- 					<section class="panel slide" id="slide8" >
						<img src="{{img_path}}images/video9.jpg" class="b_img" >
						<div class="config"><img src="{{img_path}}images/config.png">
						<div class="nav2">
							<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/passengercars/home/new_cars/models/c-class/V205.html" target="_blank" class="more1" onClick="_smq.push(['custom','参数配置页面','参数配置页面_了解更多']);">了解更多</a>
							<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/passengercars/home/new_cars/models/c-class/V205_Sedan.html"  class="more2" target="_blank"  onClick="_smq.push(['custom','参数配置页面','参数配置页面_了解更多2']);">了解更多</a>
						</div>
						<div class="nav">
							<a href="http://special.mercedes-benz.com.cn/NewC-Class/downloads/NewC-class.rar" class="down" onClick="_smq.push(['custom','参数配置页面','参数配置页面_下载配置表']);">下载配置表</a>
							<a href="http://contact.mercedes-benz.com.cn/dealer_cn.html" target="_blank" class="delter" onClick="_smq.push(['custom','参数配置页面','参数配置页面_经销商查询']);">查询经销商</a>
						</div>
						</div>
					</section> -->
					
				<!--序列帧 08 end-->	
		
				<!--序列帧 09-->	
<!-- 					<section class="panel slide" id="slide9" >
						<div class="pos">
							<img src="{{img_path}}images/video9.jpg" class="img2" >
							<a class="replay" href="#"></a>
							<a class="testdrive" href="javascript:void(0)"></a>
						</div>
						<div class="submit">
							<div class="submit_form">
								<span class="man_bg"></span>
								<span class="woman_bg"></span>	
								<input class="name" id="username" type="text" value="" />
								<input type="radio" name="gender" class="man" value="男" checked />
								<input type="radio" name="gender" class="woman" value="女" />
								<select id="province"></select>
								<select id="city"></select>
								<span class="province_bg"></span>
								<span class="city_bg"></span>
								<input class="mobile" id="phone" type="text" />
								<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/orivacy_statement.ngrb.html" target="_blank" class="yinsi">隐私</a>
								<a id="submit">提交</a>
								<a id="re_write">重填</a>
							</div>
							<div class="submit_ok">
							<a href="#firstPage/5">更多精彩</a>
							
							</div>
		
						</div>
					</section> -->
					
				<!--序列帧 09 end-->	
				<!--序列帧 10-->	
<!-- 					<section class="panel slide" id="slide10" >
						<img src="{{img_path}}images/video9.jpg" class="b_img" >
							
						<div class="video_list">
						
							<A onClick="_smq.push(['custom','精彩影音','精彩影音_TVC_开始播放时']);"><img src="{{img_path}}images/text/video-1.jpg" class="img" ></A>
				
						</div>
						<video id="example_video_1" class="video-js vjs-default-skin" controls  width="644" height="356" poster="images/text/video.jpg" data-setup="{}">
							<source src="images/video/320P45S.mp4" type="video/mp4">
						</video>
							<a href="javascript:void(0)" onClick="" title="images/video/320P45S.mp4" alt="images/text/video.jpg" class="v1"><img src="{{img_path}}images/text/9-1.jpg" class="img" ></a>	
						
							
						<div class="nav9"><a class="wonderful n10" href="#firstPage/4" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);">壁纸下载</a><a class="wonderful n11" href="#firstPage/5" >上市盛典</a><img src="{{img_path}}images/text/9-nav.png" class="" ></div>
		
					</section> -->
					
				<!--序列帧10 end-->	
					
				<!--序列帧 11-->	
<!-- 					<section class="panel slide hide" id="slide11" >
						<img src="{{img_path}}images/video9.jpg" class="b_img" >
						<div class="wallpaper_list">
							<a href="http://c-class.mymb.com.cn/dd?fn=p4.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w1"><img src="{{img_path}}images/bz1.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
							<a href="http://c-class.mymb.com.cn/dd?fn=p2.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w2"><img src="{{img_path}}images/bz2.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
							<a href="http://c-class.mymb.com.cn/dd?fn=p5.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w3"><img src="{{img_path}}images/bz3.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
							<a href="http://c-class.mymb.com.cn/dd?fn=P1.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w4"><img src="{{img_path}}images/bz4.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
							<a href="http://c-class.mymb.com.cn/dd?fn=p3.jpg" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);" target="_blank" class="w5"><img src="{{img_path}}images/bz5.jpg" class="img" ><span class="h"><i></i><img src="{{img_path}}images/down.png"></span></a>	
						</div>	
                        
						<div class="nav10"><a class="wonderful n9" href="#firstPage/3" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_精彩影音']);">精彩影音</a>
                        <a class="wonderful n11" href="#firstPage/5" >上市盛典</a>
                        <img src="{{img_path}}images/text/10-nav.png" class="" ></div>
					</section> -->
				<!--序列帧 11 end-->	
				
				<!--序列帧 12-->	
					<section class="panel slide" id="slide12" >	
	<!-- 					
                        <div id="news_contact">
                            <div class="youku"><a id="news_video" href="javascript:"><img src="images/news/youku.jpg" /></a></div>
                            <div class="news">
                                    <dl>
                                        <dd class="contact"><img src="../images/news/news1.png"></dd>
                                        <dt class="more"><a href="#" title="{{img_path}}news_contact.html">阅读全文 ></a></dt>
                                    </dl>
                                </div>	
                            <div class="gallery">
                                
                                <div class="arrow_left"><a href="#">左边</a></div>
                                <div class="list">
<ul class="select">
    <li style="margin:0;" title="0" ><span></span><img  src="images/news/gallery1.jpg" width="213" height="121" /></li>
    <li title="1"><span></span><img src="images/news/gallery2.jpg" width="213" height="121" /></li>
    <li title="2"><span></span><img src="images/news/gallery3.jpg" width="213" height="121" /></li>
    <li title="3"><span></span><img src="images/news/gallery4.jpg" width="213" height="121" /></li>

</ul>	
<ul>
    <li title="4" style="margin:0;"><span></span><img src="images/news/gallery5.jpg" width="213" height="121" /></li>
    <li title="5"><span></span><img src="images/news/gallery6.jpg" width="213" height="121" /></li>
    <li title="6"><span></span><img src="images/news/gallery7.jpg" width="213" height="121" /></li>
    <li title="7"><span></span><img src="images/news/gallery8.jpg" width="213" height="121" /></li>

</ul>

<ul>
    <li title="8" style="margin:0;"><span></span><img src="images/news/gallery9.jpg" width="213" height="121" /></li>
    <li title="9"><span></span><img src="images/news/gallery10.jpg" width="213" height="121" /></li>
    <li title="10"><span></span><img src="images/news/gallery11.jpg" width="213" height="121" /></li>
    <li title="11"><span></span><img src="images/news/gallery12.jpg" width="213" height="121" /></li>
</ul>
<ul>
    <li title="12" style="margin:0;"><span></span><img src="images/news/gallery13.jpg" width="213" height="121" /></li>
    <li title="13"><span></span><img src="images/news/gallery14.jpg" width="213" height="121" /></li>
    <li title="14"><span></span><img src="images/news/gallery15.jpg" width="213" height="121" /></li>
</ul>


                                </div>
                                <div class="arrow_right"><a href="#">右边</a></div>
                            </div>
                                
                        </div>
                        <div class="nav11">
                        <a class="wonderful n9" href="#firstPage/3" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_精彩影音']);">TVC</a>
                        <a class="wonderful n10" href="#firstPage/4" onClick="_smq.push(['custom','更多精彩页面','更多精彩页面_壁纸下载']);">壁纸下载</a>
                        <img src="{{img_path}}images/text/11-nav.png" class="" >
                        </div>
                        	 -->
						<img src="{{img_path}}images/video9.jpg" class="b_img" >
					</section>
				<!--序列帧 12 end-->	
				
				<!--序列帧 13-->	
					<!--<section class="panel slide" id="slide13" >		
						<img src="{{img_path}}images/video9.jpg" class="b_img" >
						<iframe id="ipo_video" src="" width="752" height="423" scrolling="no" frameborder="0" ></iframe>
					</section>-->
				<!--序列帧 13 end-->			
			</div>
	
		</div>    
		<!--头部开始-->
		<div id="logo"><a href="#"><img src="{{img_path}}images/logo.png"></a><a href="#" class="logo2"><img src="{{img_path}}images/logo2.png"></a></div>

		<!--序列帧开始-->
		

		
		
		<!--弹出层-->
		<div class="pop_list">
			<div class="mask"></div>
			<div class="info"><a class="close"><img src="{{img_path}}images/close.png" class="" ></a>
			<div class="info_f" style="background:#000"><img src="{{img_path}}images/big/2.jpg" class="" ></div>
			<div class="info_f"><img src="{{img_path}}images/big/3.jpg" class="" ></div>
			<div class="info_f"><img src="{{img_path}}images/big/4.jpg" class="" ></div>
			<div class="info_f"></div>
			<div class="info_f" style="background:#000"><img src="{{img_path}}images/big/5.jpg" class="" ></div>
			<div class="info_f"><img src="{{img_path}}images/big/6.jpg" class="" ></div>
			<div class="icon0"><img src="{{img_path}}images/big/1.jpg" class="" ></div>
			</div>
		</div>
		
		<div id="video_play">
			<div class="mask"></div>	
			<div class="video">
				<video id="example_video_1" class="video-js vjs-default-skin" controls  width="644" height="356" poster="images/text/video.jpg" data-setup="{}">
					<source src="images/video/320P45S.mp4" type="video/mp4">
				</video>			
			</div>
		</div>
		
		<div id="newsVideoList">
			<div class="mask"></div>	
			<div class="video">
				<video id="example_video_2" class="video-js vjs-default-skin" controls  width="644" height="356" poster="images/text/video-2.jpg" data-setup="{}">
					<source src="http://special.mercedes-benz.com.cn/NewC-Class/videos/C_CLASS_LAUNCH_short_new2.mp4" type="video/mp4">
				</video>			
			</div>
		</div>
		<!--底部开始-->
		<!--<div id="menu">
			<a class="home select2" href="#firstPage/0" ></a>
			<a class="v1" href="#firstPage/1"></a></a>
			<a class="v2" href="#firstPage/2" ></a>
			<a class="v3" href="#firstPage/3"></a>
			<a class="v4" href="#firstPage/4"></a>
			<a class="v5" href="#firstPage/5"></a>
			<a class="v6" href="#firstPage/6"></a>
			<a class="config" href="#firstPage/7"></a>
			<a class="testdrive1" href="#firstPage/8"></a>
			<a class="wonderful" href="#firstPage/9"></a>
			<a class="wonderful2" href="#firstPage/9"></a>
			<a class="wonderful2" href="#firstPage/9"></a>
			<a class="screen" href="/interaction" target=""></a>
		</div>-->
		<div id="menu">
			<a class="home select2" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_0首页']);_smq.push(['custom','首页','首页_首页']);"></a>
			<a class="lightspot v1" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_1改变_让科技得心应手']);$('#slideIndex').html('1');$.fn.fullpage.moveSlideRight();"></a></a>
			<a class="lightspot v2" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_2改变_让未知尽收眼底']);$('#slideIndex').html('2');$.fn.fullpage.moveSlideRight();"></a>
			<a class="lightspot v3" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_3改变_让内涵不彰自显']);$('#slideIndex').html('3');$.fn.fullpage.moveSlideRight();"></a>
			<a class="lightspot v4" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_4改变_让世界紧密联系']);$('#slideIndex').html('4');$.fn.fullpage.moveSlideRight();"></a>
			<a class="lightspot v5" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_5改变_让风速追随脚步']);$('#slideIndex').html('5');$.fn.fullpage.moveSlideRight();"></a>
			<a class="lightspot v6" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_6改变_让空间尽其所长']);$('#slideIndex').html('6');$.fn.fullpage.moveSlideRight();"></a>
			<!--<a class="lightspot v7" href="#firstPage/0" onClick="$('#slideIndex').html('7');$.fn.fullpage.moveSlideRight(); "></a>-->
			<a class="config" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_10参数配置']);$('#slideIndex').html('7');$.fn.fullpage.moveSlideRight();"></a>
			<a class="testdrive1" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_7预约试驾']);$('#slideIndex').html('8');$.fn.fullpage.moveSlideRight();"></a>
			<a class="wonderful" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_9更多精彩']);$('#slideIndex').html('9');$.fn.fullpage.moveSlideRight();"></a>
<!-- 			<a class="wonderful2" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_9更多精彩']);$('#slideIndex').html('10');$.fn.fullpage.moveSlideRight();"></a>
			<a class="wonderful2" href="#firstPage/0" onClick="_smq.push(['custom','底部导航','底部导航_9更多精彩']);$('#slideIndex').html('11');$.fn.fullpage.moveSlideRight();"></a>
 -->			<a class="screen" href="/interaction" target="" onClick="_smq.push(['custom','底部导航','底部导航_12双屏互动']);"></a>
 			<a class="lightspot v7" style="display:none;" href="#firstPage/0" onClick="$('#slideIndex').html('1');$.fn.fullpage.moveSlideRight();"></a></a>

		</div>
		<div id="footer2"><!--<img src="{{img_path}}images/music.png" class="music">-->
			<iframe id="radio" name="frameA" src="audio.html" width="40" height="40" scrolling="no" frameborder="0" ></iframe>
			<div class="share">
				分享到<a href="" class="share_sina"><img src="{{img_path}}images/sina.png"></a>
						<a href="" class="share_weibo"><img src="{{img_path}}images/t_weibo.png"></a>
						<a href="" class="share_renren"><img src="{{img_path}}images/renren.png"></a>
			</div>
			<div class="nav">
				<a onClick="_smq.push(['custom','页面右下角','页面右下角_奔驰官网']);" href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/passengercars.flash.skipintro.html" target="_blank">奔驰官网</a>|
				<a onClick="_smq.push(['custom','页面右下角','页面右下角_经销商查询']);" href="http://contact.mercedes-benz.com.cn/dealer_cn.html" target="_blank">经销商查询</a>|
				<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/orivacy_statement.ngrb.html" target="_blank">隐私条款</a>|
				<a href="http://www.miibeian.gov.cn/" target="_blank" >京ICP备09046804</a>|
				<a href="http://www.mercedes-benz.com.cn/content/china/mpc/mpc_china_website/zhng/home_mpc/legal_notice.ngrb.html" target="_blank">法律申明</a>
			</div>
		</div>
	<!--ipad书屏幕提示-->
	<div id="ipad_tip">
		<img src="{{img_path}}images/or_pad.jpg">
		
	</div>
    <!--新闻contact-->
    <div id="news_body">
    <div class="iframe">
    <a class="close">X</a>
    <iframe id="" src="" width="916" height="405" scrolling="no" frameborder="0"></iframe>							        
    </div>
    <div class="mask"></div>
    
    </div>
    
    <!--新闻大图-->
	<div id="big_gallery">
	<div class="mask"></div>
	<div class="info">
       <div class="arrow_left"><a href="#">左边</a></div>
       <div class="arrow_right"><a href="#">左边</a></div>
		<a class="close"><img src="images/close.png" /></a>
		<div class="imglist">
            <img src="images/news/gallery1_b.jpg" class="big"/>
            <img src="images/news/gallery2_b.jpg" class="big"/>
            <img src="images/news/gallery3_b.jpg" class="big"/>
            <img src="images/news/gallery4_b.jpg" class="big"/>
            <img src="images/news/gallery5_b.jpg" class="big"/>
            <img src="images/news/gallery6_b.jpg" class="big"/>
            <img src="images/news/gallery7_b.jpg" class="big"/>
            <img src="images/news/gallery8_b.jpg" class="big"/>
            <img src="images/news/gallery9_b.jpg" class="big"/>
            <img src="images/news/gallery10_b.jpg" class="big"/>
            <img src="images/news/gallery11_b.jpg" class="big"/>
            <img src="images/news/gallery12_b.jpg" class="big"/>
            <img src="images/news/gallery13_b.jpg" class="big"/>
            <img src="images/news/gallery14_b.jpg" class="big"/>
            <img src="images/news/gallery15_b.jpg" class="big"/>
        </div>

    </div>	
</div>
	<link rel="stylesheet" type="text/css" href="js/fullpage/jquery.fullPage.css" />


		<!--[if IE]>
			<script type="text/javascript">
				 var console = { log: function() {} };
			</script>
		<![endif]-->
		<script src="{{img_path}}js/c-class/index.js"></script>
		<script type="text/javascript">
			var _smq = _smq || [];
			_smq.push(['_setAccount', '3aad93d', new Date()]);
			_smq.push(['_setReferrerSmtEnabled', 'yes']);
			_smq.push(['pageview']);
			
			(function() {
			var sm = document.createElement('script'); sm.type = 'text/javascript'; sm.async = true;
			sm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdnmaster.com/sitemaster/collect.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sm, s);
			})();
		</script>		
		
		<script src="{{img_path}}js/fullpage/jquery.ui.js" type="text/javascript"></script>
		<script type="text/javascript" src="{{img_path}}js/fullpage/jquery.fullPage.js"></script>
		<script src="{{img_path}}js/citys.js" type="text/javascript"></script>
		<script src="{{img_path}}js/c-class/video.js" type="text/javascript"></script>
		<script>
  			videojs.options.flash.swf = "swf/video-js.swf";
		</script>	

		<script type="text/javascript">
	  			$(document).ready(function() {
				$(".b_img").fullBg();
				$('#fullpage').fullpage({
					anchors: ['firstPage'],
					sectionsColor: ['#FFF'],
					scrollOverflow: false

				});
			//$.fn.fullpage.moveSlideLeft();
			});
		</script>

		<!--[if lt IE 9]>
		<script type="text/javascript" src="{{img_path}}js/c-class/skrollr.ie.min.js"></script>
		<![endif]-->
		<script type="text/javascript">

		//img width auto
		$(window).load(function() {
		//上市直播跳转	
		var url = window.location.toString();
		var id = url.split("#")[1];
		if(id=="ipo"){
			$('#slideIndex').html('11');$.fn.fullpage.moveSlideRight();
			$("#slide0").hide()
		}
			//$(".b_img").fullBg();
			
//			setTimeout(function(){
// 
//			$(".play-pause .play").trigger("click")
//			 
//			},3000);
			//$(".play-pause .play").trigger("click")
		//	$(".play-pause .play").trigger("click")
	
	


		});				
		</script>	
		<script type="text/javascript">
			var sns_title="全新梅赛德斯-奔驰全新长轴距C级车 驾驭改变";
			var sns_text="改变，灵动设计的创新者。驾驭，科技先锋的领跑者。全新梅赛德斯-奔驰长轴距C级车，革新上市！颠覆您的想象，邀您置身于超凡魅力的三维世界。";
			var sns_url="http://special.mercedes-benz.com.cn/NewC-Class/";
			function weibo(){
				var _url="http://v.t.sina.com.cn/share/share.php?&searchPic=false";
				_url+=("&url="+encodeURI(sns_url));
				_url+=("&title="+encodeURI(sns_text));
				//_url+="&pic=http://"+location.host+"/img/share.jpg";
				//hard code pic url
				_url+="&pic=http://special.mercedes-benz.com.cn/NewC-Class/images/share.jpg";
				window.open(_url,"_blank");
			}
			function tencent(){
				var _url="http://v.t.qq.com/share/share.php?";
				_url+=("&url="+encodeURI(sns_url));
				_url+=("&title="+encodeURI(sns_text));
				//_url+="&pic=http://"+location.host+"img/share.jpg";
				//hard code pic url
				_url+="&pic=http://special.mercedes-benz.com.cn/NewC-Class/images/share.jpg";

				window.open(_url,"_blank");
			}
			function renren(){
				var _url="http://widget.renren.com/dialog/share?charset=UTF-8";
				_url+=("&resourceUrl="+encodeURI(sns_url));
				_url+=("&srcUrl="+encodeURI(sns_url));
				_url+=("&title="+encodeURI(sns_title));
				_url+=("&description="+encodeURI(sns_text));				
				//_url+="&pic=http://"+location.host+"img/share.jpg";
				//hard code pic url
				_url+="&pic=http://special.mercedes-benz.com.cn/NewC-Class/images/share.jpg";
				window.open(_url,"_blank");
			}

			$(".share_sina").click(function(){
				_smq.push(['custom','页面右下角','页面右下角_分享到微博']);
				weibo()
			})	
			$(".share_weibo").click(function(){
				tencent()
			})	
			$(".share_renren").click(function(){
				_smq.push(['custom','页面右下角','页面右下角_分享到人人']);
				renren()
			})				
		</script>




</body>
</html>